<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <javaee:display-name>KoalaUI</javaee:display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>MenuServlet</javaee:display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>org.openkoala.koalaui.servlet.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>DataGridServlet</javaee:display-name>
    <servlet-name>DataGridServlet</servlet-name>
    <servlet-class>org.openkoala.koalaui.servlet.DataGridServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataGridServlet</servlet-name>
    <url-pattern>/DataGridServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>GridServlet</javaee:display-name>
    <servlet-name>GridServlet</servlet-name>
    <servlet-class>org.openkoala.koalaui.servlet.GridServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GridServlet</servlet-name>
    <url-pattern>/people/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>CheckCodeServlet</javaee:display-name>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>org.openkoala.koalaui.servlet.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/CheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>LoginServlet</javaee:display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.openkoala.koalaui.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>