<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>KoalaUI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>org.openkoala.koalaui.servlet.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataGridServlet</display-name>
    <servlet-name>DataGridServlet</servlet-name>
    <servlet-class>org.openkoala.koalaui.servlet.DataGridServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataGridServlet</servlet-name>
    <url-pattern>/DataGridServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GridServlet</display-name>
    <servlet-name>GridServlet</servlet-name>
    <servlet-class>org.openkoala.koalaui.servlet.GridServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GridServlet</servlet-name>
    <url-pattern>/people/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCodeServlet</display-name>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>org.openkoala.koalaui.servlet.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/CheckCodeServlet</url-pattern>
  </servlet-mapping>
</web-app>