
/**
*Í¼Æ¬ÂÖ²¥
*/
.carousel {
  position:relative;
  margin-bottom:20px;
  line-height:1;
  width:63%
}

.carousel-inner {
  position:relative;
  width:100%;
  overflow:hidden;
}

.carousel-inner > .item {
  position:relative;
  display:none;
  -webkit-transition:0.6s ease-in-out left;
     -moz-transition:0.6s ease-in-out left;
       -o-transition:0.6s ease-in-out left;
          transition:0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display:block;
  line-height:1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display:block;
}

.carousel-inner > .active {
  left:0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position:absolute;
  top:0;
  width:100%;
}

.carousel-inner > .next {
  left:100%;
}

.carousel-inner > .prev {
  left:-100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left:0;
}

.carousel-inner > .active.left {
  left:-100%;
}

.carousel-inner > .active.right {
  left:100%;
}

.carousel-control {
  position:absolute;
  top:40%;
  left:15px;
  width:40px;
  height:40px;
  margin-top:-20px;
  font-size:60px;
  font-weight:100;
  line-height:30px;
  color:#ffffff;
  text-align:center;
  background:#222222;
  border:3px solid #ffffff;
  -webkit-border-radius:23px;
     -moz-border-radius:23px;
          border-radius:23px;
  opacity:0.5;
  filter:alpha(opacity=50);
}

.carousel-control.right {
  right:15px;
  left:auto;
}

.carousel-control:hover,
.carousel-control:focus {
  color:#ffffff;
  text-decoration:none;
  opacity:0.9;
  filter:alpha(opacity=90);
}

.carousel-indicators {
  position:absolute;
  top:15px;
  right:15px;
  z-index:5;
  margin:0;
  list-style:none;
}

.carousel-indicators li {
  display:block;
  float:left;
  width:10px;
  height:10px;
  margin-left:5px;
  text-indent:-999px;
  background-color:#ccc;
  background-color:rgba(255, 255, 255, 0.25);
  border-radius:5px;
}

.carousel-indicators .active {
  background-color:#fff;
}

.carousel-caption {
  position:absolute;
  right:0;
  bottom:0;
  left:0;
  padding:15px;
  background:#333333;
  background:rgba(0, 0, 0, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
  line-height:20px;
  color:#ffffff;
}

.carousel-caption h4 {
  margin:0 0 5px;
}

.carousel-caption p {
  margin-bottom:0;
}

/**
*Tree
*/
.tree {
  position:relative;
  padding:10px 15px 0 15px;
  overflow-x:hidden;
  overflow-y:auto;
  border:1px solid #BBBBBB;
  border-radius:4px 4px 4px 4px;
}

.tree .tree-folder {
  width:100%;
  min-height:20px;
  margin-top:1px;
  cursor:pointer;
}

.tree .tree-folder .tree-folder-header {
  position:relative;
  height:20px;
  -webkit-border-radius:6px;
     -moz-border-radius:6px;
          border-radius:6px;
}

.tree .tree-folder .tree-folder-header:hover {
  background-color:#dfeef5;
}

.tree .tree-folder .tree-folder-header i {
  position:absolute;
  top:1px;
  left:5px;
  float:left;
}

.tree .tree-folder .tree-folder-header .tree-folder-name {
  padding-left:29px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.tree .tree-folder .tree-folder-content {
  margin-left:23px;
}

.tree .tree-item {
  position:relative;
  width:100%;
  height:20px;
  margin-top:1px;
  cursor:pointer;
  -webkit-border-radius:6px;
     -moz-border-radius:6px;
          border-radius:6px;
}

.tree .tree-item:hover {
  background-color:#dfeef5;
}

.tree .tree-item .tree-item-name {
  position:absolute;
  left:29px;
}

.tree .tree-item .tree-dot {
  position:absolute;
  top:8px;
  left:10px;
  display:block;
  width:4px;
  height:4px;
  background-color:#333333;
  -webkit-border-radius:6px;
     -moz-border-radius:6px;
          border-radius:6px;
}

.tree .tree-item .icon-ok {
  position:absolute;
  top:1px;
  left:5px;
}

.tree .tree-selected {
  background-color:#b9dff1;
}

[class^="icon-"],
[class*=" icon-"] {
  display:inline-block;
  width:14px;
  height:14px;
  margin-top:1px;
  *margin-right:.3em;
  line-height:14px;
  vertical-align:text-top;
  background-image:url("../lib/bootstrap/img/glyphicons-halflings.png");
  background-position:14px 14px;
  background-repeat:no-repeat;
}

.tree .tree-selected:hover {
  background-color:#b9dff1;
}

.icon-folder-close {
  width:16px;
  background-position:-384px -120px;
}

.icon-folder-open {
  width:16px;
  background-position:-408px -120px;
}

.icon-ok {
  background-position:-288px 0;
}

/**
*Search
*/
.icon-search {
  background-position:-48px 0;
}

.search {
 
}

.input-medium {
  width:150px;
}

/*Spinner*/
.spinner input {
  float:left;
  width:56px;
}

.spinner .btn {
  position:relative;
  width:20px;
  height:14px;
  padding-top:0;
  padding-right:9px;
  padding-left:9px;
}

.spinner .btn.disabled {
  cursor:not-allowed;
}

.spinner .spinner-buttons {
  position:relative;
  left:-21px;
  float:left;
  width:20px;
  height:28px;
}

.spinner .spinner-up {
  top:2px;
  padding:0 0 4px 1px;
}

.spinner .spinner-up i {
  position:relative;
  top:-4px;
}

.spinner .spinner-down {
  top:2px;
  height:13px;
  padding:0 0 4px 1px;
}

.spinner .spinner-down i {
  position:relative;
  top:-5px;
}

.icon-chevron-up {
  background-position:-288px -120px;
}

.icon-chevron-down {
  background-position:-313px -119px;
}

.btn-group-vertical > .btn + .btn {
  margin-top:-1px;
  margin-left:0;
}

/*DataGrid*/
table {
  max-width:100%;
  background-color:transparent;
  border-collapse:collapse;
  border-spacing:0;
}

.table {
  width:100%;
  margin-bottom:20px;
}

.table th,
.table td {
  padding:8px;
  line-height:20px;
  text-align:left;
  vertical-align:top;
  border-top:1px solid #dddddd;
}

.table th {
  font-weight:bold;
}

.table thead th {
  vertical-align:bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top:0;
}

.table tbody + tbody {
  border-top:2px solid #dddddd;
}

.table .table {
  background-color:#ffffff;
}

.table-condensed th,
.table-condensed td {
  padding:4px 5px;
}

.table-bordered {
  border:1px solid #dddddd;
  border-collapse:separate;
  *border-collapse:collapse;
  border-left:0;
  -webkit-border-radius:4px;
     -moz-border-radius:4px;
          border-radius:4px;
}

.table-bordered th,
.table-bordered td {
  border-left:1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top:0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius:4px;
          border-top-left-radius:4px;
  -moz-border-radius-topleft:4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius:4px;
          border-top-right-radius:4px;
  -moz-border-radius-topright:4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius:4px;
          border-bottom-left-radius:4px;
  -moz-border-radius-bottomleft:4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius:4px;
          border-bottom-right-radius:4px;
  -moz-border-radius-bottomright:4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius:0;
          border-bottom-left-radius:0;
  -moz-border-radius-bottomleft:0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius:0;
          border-bottom-right-radius:0;
  -moz-border-radius-bottomright:0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius:4px;
          border-top-left-radius:4px;
  -moz-border-radius-topleft:4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius:4px;
          border-top-right-radius:4px;
  -moz-border-radius-topright:4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color:#f9f9f9;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color:#f5f5f5;
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display:table-cell;
  float:none;
  margin-left:0;
}

.table td.span1,
.table th.span1 {
  float:none;
  width:44px;
  margin-left:0;
}

.table td.span2,
.table th.span2 {
  float:none;
  width:124px;
  margin-left:0;
}

.table td.span3,
.table th.span3 {
  float:none;
  width:204px;
  margin-left:0;
}

.table td.span4,
.table th.span4 {
  float:none;
  width:284px;
  margin-left:0;
}

.table td.span5,
.table th.span5 {
  float:none;
  width:364px;
  margin-left:0;
}

.table td.span6,
.table th.span6 {
  float:none;
  width:444px;
  margin-left:0;
}

.table td.span7,
.table th.span7 {
  float:none;
  width:524px;
  margin-left:0;
}

.table td.span8,
.table th.span8 {
  float:none;
  width:604px;
  margin-left:0;
}

.table td.span9,
.table th.span9 {
  float:none;
  width:684px;
  margin-left:0;
}

.table td.span10,
.table th.span10 {
  float:none;
  width:764px;
  margin-left:0;
}

.table td.span11,
.table th.span11 {
  float:none;
  width:844px;
  margin-left:0;
}

.table td.span12,
.table th.span12 {
  float:none;
  width:924px;
  margin-left:0;
}

.table tbody tr.success > td {
  background-color:#dff0d8;
}

.table tbody tr.error > td {
  background-color:#f2dede;
}

.table tbody tr.warning > td {
  background-color:#fcf8e3;
}

.table tbody tr.info > td {
  background-color:#d9edf7;
}

.table-hover tbody tr.success:hover > td {
  background-color:#d0e9c6;
}

.table-hover tbody tr.error:hover > td {
  background-color:#ebcccc;
}

.table-hover tbody tr.warning:hover > td {
  background-color:#faf2cc;
}

.table-hover tbody tr.info:hover > td {
  background-color:#c4e3f3;
}

.datagrid thead {
  background-color:#f9f9f9;
}

.datagrid thead .datagrid-header-title {
  float:left;
  margin-right:10px;
  font-size:14px;
  font-weight:normal;
  line-height:28px;
}

.datagrid thead .datagrid-header-left {
  float:left;
}

.datagrid thead .datagrid-header-right {
  float:right;
}

.datagrid thead .sorted {
  padding-right:30px;
  color:#333333;
  text-shadow:'none';
  background-color:#f1f1f1;
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e5e5e5));
  background-image:-webkit-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image:-o-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image:-moz-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image:linear-gradient(to bottom, #f9f9f9, #e5e5e5);
  background-repeat:repeat-x;
  border-color:#e5e5e5 #e5e5e5 #bebebe;
  border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter:progid:dximagetransform.microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe5e5e5', GradientType=0);
}

.datagrid thead .sorted i {
  float:right;
  margin-top:2px;
  margin-right:-22px;
}

.datagrid thead .sortable {
  cursor:pointer;
}

.datagrid thead .sortable:hover {
  color:#333333;
  text-shadow:'none';
  background-color:#f1f1f1;
  background-image:-moz-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e5e5e5));
  background-image:-webkit-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image:-o-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image:linear-gradient(to bottom, #f9f9f9, #e5e5e5);
  background-repeat:repeat-x;
  border-color:#e5e5e5 #e5e5e5 #bebebe;
  border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter:progid:dximagetransform.microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe5e5e5', GradientType=0);
}

.datagrid tfoot {
  background-color:#f9f9f9;
}

.datagrid tfoot .datagrid-footer-left {
  float:left;
}

.datagrid tfoot .datagrid-footer-left .grid-controls {
  margin-top:7px;
}

.datagrid tfoot .datagrid-footer-left .grid-controls select {
  width:60px;
  margin:0 5px 1px;
}

.datagrid tfoot .datagrid-footer-left .grid-controls .grid-pagesize {
  display:inline-block;
  margin-bottom:5px;
  vertical-align:middle;
}

.datagrid tfoot .datagrid-footer-left .grid-controls .grid-pagesize .dropdown-menu {
  top:auto;
  left:auto;
}

.datagrid tfoot .datagrid-footer-left .grid-controls span {
  font-weight:normal;
}

.datagrid tfoot .datagrid-footer-right {
  float:right;
}

.datagrid tfoot .datagrid-footer-right .grid-pager > span {
  position:relative;
  font-weight:normal;
}

.datagrid tfoot .datagrid-footer-right .grid-pager .dropdown-menu {
  min-width:50px;
}

.datagrid tfoot .datagrid-footer-right .grid-pager > button {
  position:relative
}

.datagrid-stretch-header {
  margin-bottom:0;
  border-bottom:0;
  -webkit-border-bottom-right-radius:0;
          border-bottom-right-radius:0;
  -webkit-border-bottom-left-radius:0;
          border-bottom-left-radius:0;
  -moz-border-radius-bottomright:0;
  -moz-border-radius-bottomleft:0;
}

.datagrid-stretch-header thead:last-child tr:last-child > th:first-child,
.datagrid-stretch-header thead:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius:0;
          border-bottom-right-radius:0;
  -webkit-border-bottom-left-radius:0;
          border-bottom-left-radius:0;
  -moz-border-radius-bottomright:0;
  -moz-border-radius-bottomleft:0;
}

.icon-chevron-left {
  background-position:-432px -72px;
}

.icon-chevron-right {
  background-position:-456px -72px;
}