[class^="icon-"],
[class*=" icon-"] {
  display:inline-block;
  width:14px;
  height:14px;
  margin-top:1px;
  *margin-right:.3em;
  line-height:14px;
  vertical-align:text-top;
  background-image:url("../img/glyphicons-halflings.png");
  background-position:14px 14px;
  background-repeat:no-repeat;
}

/*布局*/
.row-fluid {
  width:100%;
  *zoom:1;
}

.row-fluid:before,
.row-fluid:after {
  display:table;
  line-height:0;
  content:"";
}

.row-fluid:after {
  clear:both;
}

.row-fluid [class*="span"] {
  display:block;
  float:left;
  width:100%;
  min-height:30px;
  margin-left:2.127659574468085%;
  *margin-left:2.074468085106383%;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left:0;
}

.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left:2.127659574468085%;
}

.row-fluid .span12 {
  width:100%;
  *width:99.94680851063829%;
}

.row-fluid .span11 {
  width:91.48936170212765%;
  *width:91.43617021276594%;
}

.row-fluid .span10 {
  width:82.97872340425532%;
  *width:82.92553191489361%;
}

.row-fluid .span9 {
  width:74.46808510638297%;
  *width:74.41489361702126%;
}

.row-fluid .span8 {
  width:65.95744680851064%;
  *width:65.90425531914893%;
}

.row-fluid .span7 {
  width:57.44680851063829%;
  *width:57.39361702127659%;
}

.row-fluid .span6 {
  width:48.93617021276595%;
  *width:48.88297872340425%;
}

.row-fluid .span5 {
  width:40.42553191489362%;
  *width:40.37234042553192%;
}

.row-fluid .span4 {
  width:31.914893617021278%;
  *width:31.861702127659576%;
}

.row-fluid .span3 {
  width:23.404255319148934%;
  *width:23.351063829787233%;
}

.row-fluid .span2 {
  width:14.893617021276595%;
  *width:14.840425531914894%;
}

.row-fluid .span1 {
  width:6.382978723404255%;
  *width:6.329787234042553%;
}

.row-fluid .offset12 {
  margin-left:104.25531914893617%;
  *margin-left:104.14893617021275%;
}

.row-fluid .offset12:first-child {
  margin-left:102.12765957446808%;
  *margin-left:102.02127659574467%;
}

.row-fluid .offset11 {
  margin-left:95.74468085106382%;
  *margin-left:95.6382978723404%;
}

.row-fluid .offset11:first-child {
  margin-left:93.61702127659574%;
  *margin-left:93.51063829787232%;
}

.row-fluid .offset10 {
  margin-left:87.23404255319149%;
  *margin-left:87.12765957446807%;
}

.row-fluid .offset10:first-child {
  margin-left:85.1063829787234%;
  *margin-left:84.99999999999999%;
}

.row-fluid .offset9 {
  margin-left:78.72340425531914%;
  *margin-left:78.61702127659572%;
}

.row-fluid .offset9:first-child {
  margin-left:76.59574468085106%;
  *margin-left:76.48936170212764%;
}

.row-fluid .offset8 {
  margin-left:70.2127659574468%;
  *margin-left:70.10638297872339%;
}

.row-fluid .offset8:first-child {
  margin-left:68.08510638297872%;
  *margin-left:67.9787234042553%;
}

.row-fluid .offset7 {
  margin-left:61.70212765957446%;
  *margin-left:61.59574468085106%;
}

.row-fluid .offset7:first-child {
  margin-left:59.574468085106375%;
  *margin-left:59.46808510638297%;
}

.row-fluid .offset6 {
  margin-left:53.191489361702125%;
  *margin-left:53.085106382978715%;
}

.row-fluid .offset6:first-child {
  margin-left:51.063829787234035%;
  *margin-left:50.95744680851063%;
}

.row-fluid .offset5 {
  margin-left:44.68085106382979%;
  *margin-left:44.57446808510638%;
}

.row-fluid .offset5:first-child {
  margin-left:42.5531914893617%;
  *margin-left:42.4468085106383%;
}

.row-fluid .offset4 {
  margin-left:36.170212765957444%;
  *margin-left:36.06382978723405%;
}

.row-fluid .offset4:first-child {
  margin-left:34.04255319148936%;
  *margin-left:33.93617021276596%;
}

.row-fluid .offset3 {
  margin-left:27.659574468085104%;
  *margin-left:27.5531914893617%;
}

.row-fluid .offset3:first-child {
  margin-left:25.53191489361702%;
  *margin-left:25.425531914893618%;
}

.row-fluid .offset2 {
  margin-left:19.148936170212764%;
  *margin-left:19.04255319148936%;
}

.row-fluid .offset2:first-child {
  margin-left:17.02127659574468%;
  *margin-left:16.914893617021278%;
}

.row-fluid .offset1 {
  margin-left:10.638297872340425%;
  *margin-left:10.53191489361702%;
}

.row-fluid .offset1:first-child {
  margin-left:8.51063829787234%;
  *margin-left:8.404255319148938%;
}

[class*="span"].hide,
.row-fluid [class*="span"].hide {
  display:none;
}

[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
  float:right;
}

.container {
  margin-right:auto;
  margin-left:auto;
  *zoom:1;
}

.container:before,
.container:after {
  display:table;
  line-height:0;
  content:"";
}

.container:after {
  clear:both;
}

.container-fluid {
  padding-right:20px;
  padding-left:20px;
  *zoom:1;
}

.container-fluid:before,
.container-fluid:after {
  display:table;
  line-height:0;
  content:"";
}

.container-fluid:after {
  clear:both;
}

.navbar {
  *position:relative;
  *z-index:2;
  margin-bottom:20px;
  overflow:visible;
}

.navbar-inner {
  min-height:40px;
  padding-right:20px;
  padding-left:20px;
  background-color:#fafafa;
  background-image:-moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image:-webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image:-o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image:linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat:repeat-x;
  border:1px solid #d4d4d4;
  -webkit-border-radius:4px;
     -moz-border-radius:4px;
          border-radius:4px;
  filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom:1;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
}
.icon-user {
  background-position:-168px 0;
}

.icon-tint {
  background-position:-72px -72px;
}

/**
*Tree
*/
.tree {
  position:relative;
  padding:10px 15px 0 15px;
  overflow-x:hidden;
  overflow-y:auto;
  border:1px solid #BBBBBB;
  border-radius:4px 4px 4px 4px;
}

.tree .tree-folder {
  width:100%;
  min-height:20px;
  margin-top:1px;
  cursor:pointer;
}

.tree .tree-folder .tree-folder-header {
  position:relative;
  height:20px;
  -webkit-border-radius:6px;
     -moz-border-radius:6px;
          border-radius:6px;
}

.tree .tree-folder .tree-folder-header:hover {
  background-color:#dfeef5;
}

.tree .tree-folder .tree-folder-header i {
  position:absolute;
  top:1px;
  left:5px;
  float:left;
}

.tree .tree-folder .tree-folder-header .tree-folder-name {
  padding-left:29px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.tree .tree-folder .tree-folder-content {
  margin-left:23px;
}

.tree .tree-item {
  position:relative;
  width:100%;
  height:20px;
  margin-top:1px;
  cursor:pointer;
  -webkit-border-radius:6px;
     -moz-border-radius:6px;
          border-radius:6px;
}

.tree .tree-item:hover {
  background-color:#dfeef5;
}

.tree .tree-item .tree-item-name {
  position:absolute;
  left:29px;
}

.tree .tree-item .tree-dot {
  position:absolute;
  top:8px;
  left:10px;
  display:block;
  width:4px;
  height:4px;
  background-color:#333333;
  -webkit-border-radius:6px;
     -moz-border-radius:6px;
          border-radius:6px;
}

.tree .tree-item .icon-ok {
  position:absolute;
  top:1px;
  left:5px;
}

.tree .tree-selected {
  background-color:#b9dff1;
}

.tree .tree-selected:hover {
  background-color:#b9dff1;
}

.icon-folder-close {
  width:16px;
  background-position:-384px -120px;
}

.icon-folder-open {
  width:16px;
  background-position:-408px -120px;
}

.icon-ok {
  background-position:-288px 0;
}

/**
*Search
*/
.icon-search {
  background-position:-48px 0;
}

.icon-remove {
  background-position:-312px 0;
}

.input-medium {
  width:150px;
}

/*Spinner*/
.spinner input {
  float:left;
  width:56px;
}

.spinner .btn {
  position:relative;
  width:20px;
  height:18px;
  padding-top:0;
  padding-right:9px;
  padding-left:9px;
}

.spinner .btn.disabled {
  cursor:not-allowed;
}

.spinner .spinner-buttons {
  position:relative;
  left:-21px;
  float:left;
  width:20px;
  height:28px;
}

.spinner .spinner-up {
  top:2px;
  padding:0 0 4px 1px;
}

.spinner .spinner-up i {
  position:relative;
  top:-4px;
}

.spinner .spinner-down {
  top:2px;
  height:13px;
  padding:0 0 4px 1px;
}

.spinner .spinner-down i {
  position:relative;
  top:-5px;
}

.icon-chevron-up {
  background-position:-288px -120px;
}

.icon-chevron-down {
  background-position:-313px -119px;
}

.btn-group-vertical > .btn + .btn {
  margin-top:-1px;
  margin-left:0;
}

/*DataGrid*/
.table{
  border:1px solid #dddddd;
  border-collapse:separate;
  *border-collapse:collapse;
  border-left:0;
  -webkit-border-radius:4px;
     -moz-border-radius:4px;
          border-radius:4px;
}
.table th,
.table td {
  padding:8px;
  line-height:20px;
  text-align:left;
  vertical-align:top;
  border-top:1px solid #dddddd;
  border-left:1px solid #dddddd;
}

.datagrid{
	 background-color: #ffffff;
}

.datagrid thead {
  background-color:#f9f9f9;
}

.datagrid thead .datagrid-header-title {
  float:left;
  margin-right:10px;
  font-size:14px;
  font-weight:normal;
  line-height:28px;
}

.datagrid thead .datagrid-header-left {
  float:left;
}

.datagrid thead .datagrid-header-right {
  float:right;
}

.datagrid thead .sorted {
  padding-right:30px;
  color:#333333;
  text-shadow:'none';
  background-color:#f1f1f1;
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e5e5e5));
  background-image:-webkit-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image:-o-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image:-moz-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image:linear-gradient(to bottom, #f9f9f9, #e5e5e5);
  background-repeat:repeat-x;
  border-color:#e5e5e5 #e5e5e5 #bebebe;
  border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter:progid:dximagetransform.microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe5e5e5', GradientType=0);
}

.datagrid thead .sorted i {
  float:right;
  margin-top:2px;
  margin-right:-22px;
}

.datagrid thead .sortable {
  cursor:pointer;
}

.datagrid thead .sortable:hover {
  color:#333333;
  text-shadow:'none';
  background-color:#f1f1f1;
  background-image:-moz-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e5e5e5));
  background-image:-webkit-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image:-o-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image:linear-gradient(to bottom, #f9f9f9, #e5e5e5);
  background-repeat:repeat-x;
  border-color:#e5e5e5 #e5e5e5 #bebebe;
  border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter:progid:dximagetransform.microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe5e5e5', GradientType=0);
}

.datagrid tfoot {
  background-color:#f9f9f9;
}

.datagrid tfoot .datagrid-footer-left {
  float:left;
}

.datagrid tfoot .datagrid-footer-left .grid-controls {
  margin-top:7px;
}

.datagrid tfoot .datagrid-footer-left .grid-controls select {
  width:60px;
  margin:0 5px 1px;
}

.datagrid tfoot .datagrid-footer-left .grid-controls .grid-pagesize {
  display:inline-block;
  margin-bottom:5px;
  vertical-align:middle;
}

.datagrid tfoot .datagrid-footer-left .grid-controls .grid-pagesize .dropdown-menu {
  top:auto;
  left:auto;
  min-width:40px;
}

.datagrid tfoot .datagrid-footer-left .grid-controls span {
  font-weight:normal;
}

.datagrid tfoot .datagrid-footer-right {
  float:right;
}

.datagrid tfoot .datagrid-footer-right .grid-pager .dropdown-menu {
  min-width:80px;
  *min-width:60px;
}

.datagrid tfoot .datagrid-footer-right .grid-pager  span {
  font-weight:normal;
}

.icon-chevron-left {
  background-position:-432px -72px;
}

.icon-chevron-right {
  background-position:-456px -72px;
}

/*
日期组件
*/
.input-group .add-on {
	display:table-cell;
	width:auto;
	height:20px;
	min-width:16px;
	padding:4px 5px;
	font-size:14px;
	font-weight:normal;
	line-height:20px;
	text-align:center;
	text-shadow:0 1px 0 #ffffff;
	background-color:#eeeeee;
	border:1px solid #ccc;
}
.datetimepicker{
	width:250px;
	margin-top:1px;
	z-index:3000;
	display:none;
	float:left;
	min-width:160px;
	padding:5px 0;
	margin:2px 0 0;
	list-style:none;
	background-color:#ffffff;
	border:1px solid #ccc;
	border:1px solid rgba(0, 0, 0, 0.2);
	*border-right-width:2px;
	*border-bottom-width:2px;
	-webkit-border-radius:6px;
	    -moz-border-radius:6px;
	          border-radius:6px;
	-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	          box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	 -webkit-background-clip:padding-box;
	     -moz-background-clip:padding;
	          background-clip:padding-box;
}
.datetimepicker:before {
	content:'';
	display:inline-block;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-bottom:7px solid#ccc;
	border-bottom-color:rgba(0, 0, 0, 0.2);
	position:absolute;
	top:-7px;
	left:6px
}
.datetimepicker:after {
	content:'';
	display:inline-block;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-bottom:6px solid#fff;
	position:absolute;
	top:-6px;
	left:7px
}
.datetimepicker .pull-right:before {
	left:auto;
	right:6px
}
.datetimepicker .pull-right:after {
	left:auto;
	right:7px
}
.datetimepicker > ul {
	list-style-type:none;
	margin:0
}
.datetimepicker > ul > li{
	margin-left:-40px;
}
.datetimepicker table[data-hour-format = "12"].separator {
	width:4px;
	padding:0;
	margin:0
}

.datetimepicker .datepicker > div {
	display:none
}
.datetimepicker .picker-switch {
	text-align:center;
	height:24px;
}
.datetimepicker .picker-switch:hover {
	background:#0081c2;
}
.datetimepicker table {
	width:100% ;
	margin:0
}
.datetimepicker td,
.datetimepicker th {
	text-align:center;
	width:20px;
	height:20px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px
}
.datetimepicker td.day:hover,
.datetimepicker td.hour:hover,
.datetimepicker td.minute:hover,
.datetimepicker td.second:hover {
	background:#eee;
	cursor:pointer
}
.datetimepicker td.old,
.datetimepicker td.new {
	color:#999
}
.datetimepicker td.active,
.datetimepicker td.active:hover {
	color:#fff;
	background-color:#006dcc;
	background-image:-moz-linear-gradient(top, #08c, #04c);
	background-image:-webkit-gradient(linear, 0 0, 0 100% , from(#08c), to(#04c));
	background-image:-webkit-linear-gradient(top, #08c, #04c);
	background-image:-o-linear-gradient(top, #08c, #04c);
	background-image:linear-gradient(to bottom, #08c, #04c);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff0088cc', endColorstr = '#ff0044cc', GradientType = 0);
	border-color:#04c#04c#002a80;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); 
	* background-color:#04c;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color:#fff;
	text-shadow:0-1px 0 rgba(0, 0, 0, 0.25)
}
.datetimepicker td.active:hover,
.datetimepicker td.active:hover:hover,
.datetimepicker td.active:active,
.datetimepicker td.active:hover:active,
.datetimepicker td.active.active,
.datetimepicker td.active:hover.active,
.datetimepicker td.active.disabled,
.datetimepicker td.active:hover.disabled,
.datetimepicker td.active[disabled],
.datetimepicker td.active:hover[disabled] {
	color:#fff;
	background-color:#04c; 
	* background-color:#003bb3
}
.datetimepicker td.active:active,
.datetimepicker td.active:hover:active,
.datetimepicker td.active.active,
.datetimepicker td.active:hover.active {
	background-color:#039\9
}
.datetimepicker td.disabled,
.datetimepicker td.disabled:hover {
	background:0;
	color:#999;
	cursor:not-allowed
}
.datetimepicker td span {
	display:block;
	width:47px;
	height:54px;
	line-height:54px;
	float:left;
	margin:2px;
	cursor:pointer;-webkit-border-radius:4px;-moz-border-radius:4px;
	border-radius:4px
}

.datetimepicker .timepicker .timepicker-picker .table-condensed .timepicker-hour,
.datetimepicker .timepicker .timepicker-picker .table-condensed .timepicker-minute,
.datetimepicker .timepicker .timepicker-picker .table-condensed .timepicker-second {
	width:100% ;
	font-weight:bold;
	font-size:1.2em
}

.datetimepicker td span:hover {
	background:#eee
}

.datetimepicker td span.active {
	color:#fff;
	background-color:#006dcc;
	background-image:-moz-linear-gradient(top, #08c, #04c);
	background-image:-webkit-gradient(linear, 0 0, 0 100% , from(#08c), to(#04c));
	background-image:-webkit-linear-gradient(top, #08c, #04c);
	background-image:-o-linear-gradient(top, #08c, #04c);
	background-image:linear-gradient(to bottom, #08c, #04c);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff0088cc', endColorstr = '#ff0044cc', GradientType = 0);
	border-color:#04c#04c#002a80;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); * background-color:#04c;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color:#fff;
	text-shadow:0-1px 0 rgba(0, 0, 0, 0.25)
}
.datetimepicker td span.active:hover,
.datetimepicker td span.active:active,
.datetimepicker td span.active.active,
.datetimepicker td span.active.disabled,
.datetimepicker td span.active[disabled] {
	color:#fff;
	background-color:#04c; * background-color:#003bb3
}
.datetimepicker td span.active:active,
.datetimepicker td span.active.active {
	background-color:#039\9
}
.datetimepicker td span.old {
	color:#999
}
.datetimepicker td span.disabled,
.datetimepicker td span.disabled:hover {
	background:0;
	color:#999;
	cursor:not-allowed
}

.datetimepicker td span.month,
.datetimepicker td span.year{
	width: 55px;
}

.datetimepicker th.switch {
	width:145px
}
.datetimepicker th.next,
.datetimepicker th.prev {
	font-size:21px
}
.datetimepicker th.disabled,
.datetimepicker th.disabled:hover {
	background:0;
	color:#999;
	cursor:not-allowed
}
.datetimepicker thead tr:first-child th {
	cursor:pointer
}
.datetimepicker thead tr:first-child th:hover {
	background:#eee
}

.datetimepicker .left-oriented:before {
	left:auto;
	right:6px
}
.datetimepicker .left-oriented:after {
	left:auto;
	right:7px
}
.icon-calendar {
  background-position:-192px -120px;
}
.icon-time {
  background-position:-48px -24px;
}

.wizard {
	border:1px solid #d4d4d4;
	font-size:12px;
	height:450px;
	margin:20px auto;
	width:570px;
	overflow:hidden;
	position:relative;
	-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
	  *zoom: 1;
	  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.wizard  > ul > li >a{
  	font-size: 18px;
}
.wizard .items{
	width:20000px; 
	clear:both; 
	position:absolute;
}

.wizard .items .page{
	padding:20px 60px;
	width:565px;
	height:400px;
	float:left;
}

.wizard .page .right{
	float:right;
}
.wizard .page .left{
	float:left;
}
.wizard .page .status{
	height:46px;
	background:#ededed;
}

.wizard .items .page h4{
	height:42px; 
	border-bottom:1px dotted #ccc; 
	margin-bottom:20px; 
	padding-bottom:5px
}

.wizard .items .page h4 em{
	font-size:16px; 
}

.wizard .items .page p{
	line-height:24px;
}

.wizard .items .page p label{
	font-size:16px; 
	display:block;
}

.wizard .items .page > p > input{
	width:250px;
}


.wizard .items .page .btn_nav{
	height:36px; 
	line-height:36px; 
	margin:30px 0px;
}

/*
*NodeWizard
*/
.node_wizard{ 
	width:100%; 
	height:auto; 
	float:left; 
	margin-left:35px; 
	margin-top:35px; 
	overflow:hidden; 
	background-color:#fff
}
.node_wizard .menu {
	
}
.node_wizard .menu .nodes {
	width: 80%; 
	float: left; 
	color: #7e7e7e
}

.node_wizard .menu .nodes > ul, 
.node_wizard .menu .nodes > ul > li{
    list-style: none outside none;
    margin: 0;
    padding: 0
}
.node_wizard .menu .nodes  > ul {
	background: url(../img/hsbg_bg.jpg) repeat-x; 
	height: 28px
}
.node_wizard .menu .nodes  > ul > li {
	float: left;
}
.node_wizard .menu .nodes .libg{
	background: url(../img/lsbg_bg.jpg) repeat-x; 
	height: 28px
}
.node_wizard .menu .nodes  > ul > li:last-child {
	text-align: right;
}
.node_wizard .menu .nodes  > ul > li:not(:last-child) {
	text-align: left;
}
.node_wizard .menu .node {
	background: url(../img/fs_bg.png) repeat-x; 
	width: 28px;
	height: 28px
}
.node_wizard .menu .nodes .active{
	background: url(../img/ls_bg.png) repeat-x; 
	width: 28px;
	height: 28px
}
.node_wizard .menu .nav_btn{ 
	width: 18%; 
	float: right; 
	padding-left: 20px
}
.node_wizard .menu .nav_btn img{ 
	cursor: pointer; 
	padding-right: 20px
}
.node_wizard  .items {
	position: relative;
	clear: both;
    width: 20000px; 
    overflow: hidden
}
.node_wizard  .items .item {
   padding: 20px 60px 40px 0;
   float: left
}
.node_wizard  .items > .active{
  display: block;
  left: 0
}