ul,li,ol,dt,dl,dd{ list-style:none; padding:0; margin:0;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,button{
	font-family:"Î¢ÈíÑÅºÚ";	
}
p{
	margin:3px 0;
}
body {
	width:100%;
	background: #f3f3f3;
}

a {
	color: #0096db;
	text-decoration: none;
}
/*-----------------------login------------------*/
.login_head{ 
	width:100%; 
	height:96px; 
	overflow:hidden; 
	background:#fff;
}
.login_logo{ 
	width:241px; 
	height:72px; 
	margin-top:20px; 
	margin-bottom:0px; 
	background:url(../images/logo.jpg) no-repeat;
}
.bg_c{ background-color:#3BA4F5;}
.login_con1{ 
	background:url(../images/logo-bg.jpg) no-repeat ; 
	height:424px; 
	width:960px; 
	margin:0 auto;
}
.login{
	 margin-top:150px; 
	 width:300px; 
	 height:250px;
}
.login ul{ }
.login li{ 
	height:60px; 
	font-size:14px; 
	color:#999;
	clear:both;
}
.login a[data-toggle="loginBtn"],
.login a[data-toggle="registerBtn"] {
	margin-left: 20px;
	margin-top: 15px;
	width: 100px;
}

.login input{ 
	width:160px; 
	line-height:30px; 
	height:26px; 
	overflow:hidden; 
	padding:2px;
}
.login input,.login p{
	float:left;
	line-height:22px;
}

.login input[name="checkCode"] {
	width: 80px;
}
.login .checkCode {
	float: left;
    padding-left: 4px;
    padding-bottom: 4px;
    width: 120px;
}
.login .checkCode img{
    height: 26px;
    padding-bottom: 2px;
}